<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="https:{{ogImage}}" />
        <meta property="fb:app_id" content="106487423266333">

        {{> css}}

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '678002899056029');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=678002899056029&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

    </head>
    <body data-reveal-selectors=".revealers">

    {{> navigation}}

		{{{body}}}

    {{> footer}}

		    <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/scrollreveal.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
