<div class="main-container">
  <section>
      <div class="container">
        <div class="row">
          <img alt="The wedding of {{post.clientName}}" src="{{post.mainImage.fields.file.url}}">
          <h1>{{post.title}}</h1>
          <h2>{{post.listingSubtitle}}</h2>
          <h3>{{post.clientName}} EST {{post.weddingDate}}</h3>
          <h4>By HAYLEY TRUFITT</h3>
        </div>
        <div class="row">
          {{{postBody}}}
        </div>
      </div>
    </section>
</div>
