<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="/img/dark_logo_transparent_background_small.png">
              <h1 class="lead">Frequently Asked Questions</h1>
          </div>
      </div>
    </div>
  </section>

  <section>
        <div class="container">
            <!-- <div class="row">
              <ul class="question-link-wrapper">
                {{#each faQuestion}}
                  <li class="question-item">
                    <a href="#{{this.fields.slug}}" class="question--link">{{this.fields.question}}</a>
                  </li>
                {{/each}}
              </ul>
            </div> -->
            <div class="row">
                <div class="question-wrapper">
                      {{#each faQuestion}}
                        <div class="question" id="{{this.fields.slug}}">
                          <h4 class="question--title">{{this.fields.question}}</h4>
                          <p>{{{this.fields.answer}}}</p>
                        </div>
                      {{/each}}
                </div>
            </div>

        </div>

    </section>
</div>
