<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center header-lead">
              <img alt="Rockstar Wedding" class="logo" src="img/dark_logo_transparent_background_small.png">
              <p class="lead">Gallery</p>
          </div>
      </div>
    </div>
  </section>
<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__filters" data-filter-all-text="Show All">
                  <ul>
                    <li data-masonry-filter="Cassette">Cassette</li>
                    <li data-masonry-filter="Vinyl">Vinyl</li>
                    <li data-masonry-filter="Unplugged">Unplugged</li>
                  </ul>
                </div>
                <div class="masonry__container masonry--animate masonry--active">
                  {{#each gallery}}<div class="col-sm-6 col-xs-12 masonry__item" data-masonry-filter="{{this.package}}">
                      <div class="portfolio-item portfolio-item-2 video-cover" data-scrim-bottom="9">
                          <div class="background-image-holder">
                              <img alt="image" src="/img/{{this.image}}.png">
                          </div>

                          <div class="video-play-icon video-play-icon--sm"></div>
                          <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/{{this.vimeoId}}?badge=0&amp;title=0&amp;byline=0"></iframe>
                          <div class="portfolio-item__title">
                              <h5>{{this.mainName}}</h5>
                              <!-- <span>
                                  <em>{{this.subName}}</em>
                              </span> -->
                          </div>
                          <div class="portfolio-item__logo">
                            <img src="/img/gallery-logo.png" alt="Rockstar Wedding Video Logo">
                          </div>

                      </div>
                  </div>{{/each}}
                </div>

            </div>
        </div>

    </div>

</section>
</div>
